.btn-xlg {
	padding: 24px 28px;
	margin: 0;
	font-size: 22px;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.btn-dir {
	width:48%;
	height:100%;
}

.btn-main {
	margin: 0;
	width:48%;
	padding: 96px 0;
	font-size: 22px;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
